.container-fluid{
  background-color:#ffff00; /*yellow */
}
.row{
  height:500px;
  border-color:black;
}
.header{
  background-color:blue;
}
.content{
  background-color:red;
}
.col-md-4{
  background-color:teal;
}
.col-md-3{
  background-color:orange;
}
