.container-fluid{
  background-color:#ffff00; /*yellow */
}
.row{
  height:600px;
}
.row{
  height:500px;
  border-color:black;
}
.col-md-12{
  background-color:blue green black;
}
.col-md-8{
  background-color:red;
}
.col-md-4{
  background-color:teal;
}
.col-md-3{
  background-color:orange;
}
